<a href="https://colab.research.google.com/github/divyasharma0293/CorePython/blob/main/Exceptions_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
DIGIT_MAP = {
    'zero': '0',
    'one': '1',
    'two': '2',
    'three': '3',
    'four':'4',
    'five':'5'
}

In [2]:
def convert(s):
  number = ''
  for token in s:
    number += DIGIT_MAP[token]
  x = int(number)
  return x

In [3]:
#call function
convert('one two three five'.split())

1235

###Modified to include try except block

In [8]:
def convert(s):
  try:
    number = ''
    for token in s:
      number += DIGIT_MAP[token]
    x = int(number)
    print(f'conversion succeeded! x={x}')
  except KeyError:
    print(f'conversion failed!')
    x = -1
    return x

In [9]:
convert('blah'.split())

conversion failed!

-1

In [10]:
convert('three four'.split())

conversion succeeded! x=34

In [11]:
convert(55)

TypeError: ignored

###Added TypeError in exception block

In [12]:
def convert(s):
  try:
    number = ''
    for token in s:
      number += DIGIT_MAP[token]
    x = int(number)
    print(f'conversion succesfull! x = {x}')
  except KeyError:
    print(f'conversion error!')
    x = -1
  except  TypeError:
    print(f'conversion failed!')
    x = -1
  return x

In [13]:
convert(55)

conversion failed!

-1

###Clean up the code

In [14]:
def convert(s):
    """convert string to integer
    """
    x = -1
    try:
        number = ''
        for token in s:
            number += DIGIT_MAP[token]
        x = int(number)
        print(f'conversion succeeded! x={x}')
    except (KeyError,TypeError):
        print(f'conversion failed!')      
    return x

In [15]:
convert(55)

conversion failed!

-1

In [16]:

convert('six eight'.split())

conversion failed!

-1

In [17]:
convert('one one three'.split())

conversion succeeded! x=113

113

###Now everything seems working fine, remove print statement

In [19]:
def convert(s):
    """convert string to integer
    """
    x = -1
    try:
        number = ''
        for token in s:
            number += DIGIT_MAP[token]
        x = int(number)
    except (KeyError,TypeError):
    return x

IndentationError: ignored

###using pass : no op, as python doesn't allow empty statements

In [20]:
def convert(s):
    """convert string to integer
    """
    x = -1
    try:
        number = ''
        for token in s:
            number += DIGIT_MAP[token]
        x = int(number)
    except (KeyError,TypeError):
        pass
    return x

###Printing out details info for exception, standard error, raise exception

In [21]:
import sys
from math import log

def convert(s):
    """convert string to integer
    """
    try:
        number = ''
        for token in s:
            number += DIGIT_MAP[token]
        return int(number)
    except (KeyError,TypeError) as e:
        print(f'Conversion Error: {e!r}', file=sys.stderr)       
        raise
    
    
def string_log(s):
    v = convert(s)
    return log(v)